@import "../../assets/styles/variable.scss";
.cart-icon {
  position: relative;
  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    padding: 5px;
    height: 20px;
    position: absolute;
    top: -6px;
    right: -8px;
    background: $red;
    border-radius: 100px;
    font: 10px/1 $font-bold;
    color: $white;
    text-align: center;
  }
}
