@import "../assets/styles/variable.scss";
.products {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + 2px);
  margin: 10px 0;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: $white;
  &__image {
    width: 100px;
  }
  &__title {
    font: 14px/24px $font-bold;
    color: $gray-darker;
  }
}
