@font-face {
  font-family: "VerdanaBold";
  src: url("../../assets/fonts/Verdana-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Verdana-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VerdanaRegular";
  src: url("../../assets/fonts/Verdana.woff2") format("woff2"),
    url("../../assets/fonts/Verdana.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
